= simple_form_for [:admin, @service] do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body
    = f.association :service_category

    - if current_user.admin?
      = f.association :user, collection: User.sellers

  .form-actions
    = f.button :submit
