= simple_form_for [:admin, @service] do |f|
  = f.error_notification

  .form-inputs(ng-app='AdminTextAngular')
    = cover_uploader f
    = f.input :title
    = f.input :intro
    = text_angular_body f
    = f.input :price
    = f.association :service_category

    - if current_user.admin?
      = f.association :user, collection: User.sellers, label_method: :company_name

    = render 'attachments/images/form', f: f, images: @service.images

  .form-actions
    = f.button :submit
