%h1 Услуги

%table.table.table-striped
  %tr
    %th Название
    %th Картинка
    %th Категория
    %th

  - @services.each do |service|
    %tr
      %td= link_to service.title, admin_service_path(service)
      %td= image_tag(service.cover.thumb, class: 'img-thumbnail')
      %td= service.service_category.title
      %td
        = icon_link 'edit', edit_admin_service_path(service)
        = icon_link 'times', admin_service_path(service), data: { method: :delete, confirm: t('common.confirm_deletion') }

= paginate @services

= link_to 'Новая услуга', new_admin_service_path, class: 'btn btn-info'
