- if @service.cover.present?
  = image_tag(@service.cover.large, class: 'img-thumbnail')
  %hr
%h1
  = @service.title
  .control-links
    = icon_link 'edit', edit_admin_service_path(@service)
    = icon_link 'times', admin_service_path(@service), data: { method: :delete, confirm: t('common.confirm_deletion') }
%p
  %b Введение:
  = @service.intro
%hr
%p
  %b Описание:
  = raw @service.body
%hr
%p
  %b Цена:
  = raw @service.price
%p
  %b Количество просмотров:
  = raw @service.views
%p
  %b Категория:
  = @service.service_category.title
%p
  %b Магазин:
  = @service.user.company_name

- if @service.images
  %ul
    - @service.images.each do |image|
      %li
        = image_tag(image.file.small, class: 'img-thumbnail')
