= simple_form_for [ :admin, @manufacturer ] do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    -# = f.association :categories, as: :check_boxes
    = render_category_tree 'checkbox', Category.roots, 'manufacturer[category_ids][]', @manufacturer.category_ids

  .form-actions
    = f.button :submit

