%h1 Производители

%table.table.table-striped
  %tr
    %th Наименование
    %th
    %th

  - @manufacturers.each do |manufacturer|
    %tr
      %td= link_to manufacturer.title, admin_manufacturer_path(manufacturer)
      %td= icon_link 'edit', edit_admin_manufacturer_path(manufacturer)
      %td= icon_link 'times', admin_manufacturer_path(manufacturer), data: { method: :delete, confirm: t('common.confirm_deletion') }

= content_for :sidebar do
  .sidebar_panel
    = link_to 'Новый производитель', new_admin_manufacturer_path, class: 'btn btn-info'
