%p
  %b Наименование:
  = @manufacturer.title
%p
  = @manufacturer.slug
%p
  %b Категории
  %ul
    - @manufacturer.categories.each do |category|
      %li= category.title

= link_to 'Edit', edit_admin_manufacturer_path(@manufacturer)
\|
= link_to 'Назад', admin_manufacturers_path
