%p
  %b Наименование:
  = @manufacturer.title
%p
  = @manufacturer.slug
%p
  = render_category_tree 'checkbox', Category.roots, 'manufacturer[category_ids][]', @manufacturer.category_ids, nil, true

= link_to 'Edit', edit_admin_manufacturer_path(@manufacturer)
\|
= link_to 'Назад', admin_manufacturers_path
