= simple_form_for [ :admin, @article ] do |f|
  = f.error_notification

  .form-inputs
    = cover_uploader f
    = f.input :title
    = f.input :menu_title
    = f.input :intro
    -# = f.input :body, input_html: { class: 'wysiwyg' }
    = f.input :body, :as => :ckeditor

    = render 'attachments/documents/form', f: f, documents: @article.documents

    = render 'attachments/images/form', f: f, images: @article.images

  .form-actions
    = f.button :submit
