= simple_form_for [:admin, @article] do |f|
  = f.error_notification

  .form-inputs(ng-app='AdminTextAngular')
    = cover_uploader f
    = f.input :title
    = f.input :menu_title
    = f.input :intro
    = text_angular_body f

    = render 'attachments/documents/form', f: f, documents: @article.documents

    = render 'attachments/images/form', f: f, images: @article.images

  .form-actions
    = f.button :submit
