- if @article.parent?
  %small
    = link_to @article.parent.title, admin_article_path(@article.parent)
    \/
  %br

%h1
  = @article.title
  .control-links
    = icon_link 'edit', edit_admin_article_path(@article)
    = icon_link 'times', admin_article_path(@article), data: { method: :delete, confirm: t('common.confirm_deletion') }

%hr

- if @article.cover.present?
  = image_tag(@article.cover.large, class: 'img-thumbnail')

%p
  %b Создан:
  = @article.created_at
  %br
  %b Обновлен:
  = @article.updated_at
%p
  = raw @article.body

- if @article.images
  %ul
    - @article.images.each do |image|
      %li
        = image_tag(image.file.thumb, class: 'img-thumbnail')

- content_for :sidebar do
  = render 'tree' if @article.children.present?

  - if @article.documents.present?
    = render 'attachments/documents/panel', documents: @article.documents
