- content_for :heading do
  = breadcrumbs @article.ancestors.map { |a| [ a.menu_title, article_path(a) ] }


- content_for :intro do
  .page-header
    %h1
      = title @article.title

      -# - if editor?
      -#   %small.control-links
      -#     = icon_link 'pencil', edit_admin_article_path(@article)
      -#     = icon_link 'remove', admin_article_path(@article), data: { method: :delete, confirm: t(:confirm_deletion) }


- if @article.cover.present?
  .page-cover.article-cover
    = image_tag(@article.cover.middle)


.page-content.article-content
  .lead
    -# = raw @article.intro

  .article-body
    = raw @article.body


%nav.article-subnav
  = render @article.children


-# - content_for :sidebar do
-#   = render 'tree' if @article.root.descendants.present?

-#   - if @article.documents.present?
-#     = render 'documents/panel', documents: @article.documents
