%h1
  = @category.title
  .control-links
    = icon_link 'edit', edit_admin_service_category_path(@category)
    = icon_link 'times', admin_service_category_path(@category), data: { method: :delete, confirm: t('common.confirm_deletion') }

%hr

%p
  %b Позиция:
  = @category.position

- if @category.parent
  %p
    %b Родительская категория:
    = @category.parent.title

- if @category.children.present?
  %p
    %b Подкатегории:
    %ol
      - @category.children.each do |child|
        %li
          =child.title
