= simple_form_for [ :admin, @user, @user.store_profile ] do |f|

  .form-inputs(ng-app='AdminTextAngular')
    = f.input :name

    %label logo
    = image_uploader f, attr_name: 'logo'

    %hr

    %label header
    = image_uploader f, attr_name: 'header'

    = f.input :contacts
    = f.input :requisites
    = f.input :phone
    = f.input :site
    = f.input :email
    = f.input :info

    = f.input :about, :as => :text, wrapper_html: { 'replace-with-text-angular' => '', "data-text-value" => f.object.about, class: 'ng-cloak' }

  .form-actions
    %hr
    = f.button :submit
