= simple_form_for [ :admin, @user, @user.store_profile ] do |f|

  .row
    .col-md-9
      = f.input :name
      %p logo
      = image_uploader f, attr_name: 'logo'
      %hr
      %p header
      = image_uploader f, attr_name: 'header'
      = f.input :contacts
      = f.input :requisites
      = f.input :phone
      = f.input :site
      = f.input :email
      = f.input :info

      %hr

      = f.button :submit
