.page-header
  %h1
    Продавцы

%table.table.table-hover
  %tr
    %th
      Лого
    %th
      Имя
    %th
      email
    %th
      Телефон
    %th
      Дата создания
    %th

  - @store_profiles.each do |profile|
    %tr
      %td= image_tag profile.logo if profile.logo.present?
      %td= link_to(profile.name, admin_user_path(profile.user))
      %td= profile.email
      %td= profile.phone
      %td= l profile.created_at, format: :short
      %td
        = icon_link 'edit', edit_admin_user_store_profile_path(profile.user, profile)
        = icon_link 'times', admin_user_store_profile_path(profile.user, profile), data: { method: :delete, confirm: t('common.confirm_deletion') }

= paginate @store_profiles
