= simple_form_for [:admin, @post] do |f|
  = f.error_notification

  .form-inputs(ng-app='AdminTextAngular')
    = cover_uploader f
    = f.input :title
    = f.input :intro
    = f.input :body, :as => :text, wrapper_html: { 'replace-with-text-angular' => '', "data-text-value" => f.object.body, class: 'ng-cloak' }

  .form-actions
    = f.button :submit
