= simple_form_for [:admin, @post] do |f|
  = f.error_notification

  .form-inputs(ng-app='AdminTextAngular')
    = cover_uploader f
    = f.input :title
    = f.input :intro
    = text_angular_body f

  .form-actions
    = f.button :submit
