= simple_form_for [:admin, @post] do |f|
  = f.error_notification

  .form-inputs(ng-app='AdminTextAngular')
    = cover_uploader f
    = f.input :title
    = f.input :intro
    = text_angular_body f
    = f.input :url, as: :url

    = render 'attachments/documents/form', f: f, documents: @post.documents

    = render 'attachments/images/form', f: f, images: @post.images

  .form-actions
    = f.button :submit
