%h1 Новости

%table.table.table-striped
  %tr
    %th Заголовок
    %th Обложка
    %th Введение
    %th

  - @posts.each do |post|
    %tr
      %td= link_to post.title, admin_post_path(post)
      %td= image_tag(post.cover.thumb, class: 'img-thumbnail') if post.cover.present?
      %td= post.intro
      %td
        = icon_link 'edit', edit_admin_post_path(post)
        = icon_link 'times', admin_post_path(post), data: { method: :delete, confirm: t('common.confirm_deletion') }

= paginate @posts

= content_for :sidebar do
  .sidebar_panel
    = link_to 'Добавить новость', new_admin_post_path, class: 'btn btn-info'
