- if @post.cover.present?
  = image_tag(@post.cover.large, class: 'img-thumbnail')
  %hr

%p
  %b Title:
  = @post.title
%p
  %b Создан:
  = @post.created_at
  %br
  %b Обновлен:
  = @post.updated_at
%p
  %b intro:
  = @post.intro
%p
  %b Body:
  = raw @post.body
%p
  %b ссылка:
  = raw @post.url

= link_to 'Edit', edit_admin_post_path(@post)
\|
= link_to 'Back', admin_posts_path
