= simple_form_for [@product, @offer] do |f|
  = f.error_notification

  - if f.object.errors[:user_id].present?
    .alert.alert-danger
      - f.object.errors.full_messages_for(:user_id).each do |msg|
        %p= msg

  .form-inputs
    = f.input :price

    - if current_user.admin?
      = f.association :user, collection: User.sellers

  .form-actions
    = f.button :submit
