%p
  %b Title:
  = @category.title
%p
  %b show_on_main:
  = @category.show_on_main
%p
  %b Position:
  = @category.position
%p
  %b Parent:
  = @category.parent.title if @category.parent
%p
  %b Children:
  - if @category.children
    %ol
      - @category.children.each do |child|
        %li
          =child.title

- if @category.product_attributes
  %p
    %b Attributes:
    %ol
      - @category.product_attributes.each do |at|
        %li
          = at.title
          = at.type
          = at.name

= link_to 'Edit', edit_admin_category_path(@category)
\|
= link_to 'Back', admin_categories_path
