%h1
  = @category.title
  .control-links
    = icon_link 'edit', edit_admin_category_path(@category)
    = icon_link 'times', admin_category_path(@category), data: { method: :delete, confirm: t('common.confirm_deletion') }

%hr

%p
  %b Позиция:
  = @category.position

- if @category.parent
  %p
    %b Родительская категория:
    = @category.parent.title

- if @category.children.present?
  %p
    %b Подкатегории:
    %ol
      - @category.children.each do |child|
        %li
          =child.title

- if @category.product_attributes
  %p
    %b Дополнительные атрибуты:
    %ol
      - @category.product_attributes.each do |at|
        %li
          %b= at.title
          %p= at.type
          %p= at.name
          %p= at.unit_list
