%h1 Товары

%table.table.table-striped
  %tr
    %th Наименование
    %th Картинка
    %th Категория
    %th

  - @products.each do |product|
    %tr
      %td= link_to product.title, admin_product_path(product)
      %td= image_tag(product.cover.thumb, class: 'img-thumbnail')
      %td= product.category.title
      %td
        - if policy(product).update?
          = icon_link 'edit', edit_admin_product_path(product)
          = icon_link 'times', admin_product_path(product), data: { method: :delete, confirm: t('common.confirm_deletion') }

= paginate @products

= content_for :sidebar do
  .sidebar_panel
    = link_to 'Новый товар', new_admin_product_path, class: 'btn btn-info'

