- require 'ostruct'
= simple_form_for(@category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    -# = f.input :position
    = f.association :parent
    -# = f.input :attr_list

    = f.simple_fields_for :attr_list, OpenStruct.new(@category.attr_list) do |ff|
      -# = ff.input :name
      = ff.input :title
      = ff.input :type, as: :select, collection: Category::ATTR_TYPES, include_blank: false
      = ff.input :unit

  .form-actions
    = f.button :submit
