%h1 Listing categories

%table.table
  %tr
    %th Title
    %th position
    %th parent
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.title
      %td= category.position
      %td= category.parent.title if category.parent
      %td= link_to 'Show', category
      %td= link_to 'Edit', edit_category_path(category)
      %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_category_path
