%h1= @category.title

- if @category.products?
  %ul
    = render @products
- else
  %p Товаров в категории нет

= link_to 'Back', categories_path

- content_for :sidebar do
  %h3 Фильтр

  = simple_form_for :filter, action: category_path(@category), method: :get do |f|
    .form-inputs
      = f.simple_fields_for @filter.symbol_name, @filter do |ff|
        - @category.product_attributes.each do |pr_at|
          = ff.input pr_at.name, as: :product_filter, type: pr_at.type, measure: pr_at.unit, label: pr_at.title, required: false

    .form-actions
      = f.button :submit, 'Apply'
      = f.button :button, 'Clear', :type => 'reset', :class => 'btn btn-danger'
