= simple_form_for [ :admin, @user ] do |f|

  .form-inputs
    = f.input :name,  input_html: { autocomplete: :off }
    = f.input :email, input_html: { autocomplete: :off }

    = f.input :role, as: :select, collection: User::ROLES, include_blank: false

    %hr

    = f.input :password,              input_html: { autocomplete: :off }
    = f.input :password_confirmation, input_html: { autocomplete: :off }

  .form-actions
    %hr
    = f.button :submit
