%footer.page-footer.navbar(role="navigation")
  .container-fluid
    .copy.navbar-text.navbar-left
      © 2014
      = t 'sitename'

    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'О проекте', '#'
      %li
        = link_to 'Рекламодателю', '#'
      %li
        = link_to 'Поддержка', '#'
      %li
        = link_to 'Сделано в Якутске', '#'
