%header.site-header.navbar.navbar-static-top(role="navigation")
  .container-fluid
    .row.logowrapper
      .col-md-4
        %a.logo{ href: root_path }
          / .logo_image
          = image_tag("logo.png", alt: "GuruStroy")
          / %span.sitename GuruStroy
      .col-md-6
        = render 'search'
    .row
      .col-md-12
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#mainnav")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / %a.navbar-brand(href="#")= t 'sitename'

        #mainnav.collapse.navbar-collapse
          = render 'nav'

          = render 'usermenu'

.page-messages
  = messages
