%header.site-header.navbar.navbar-static-top(role="navigation")
  .container
    .row.logowrapper
      .col-md-3
        %a.logo{ href: root_path }
          = image_tag("logo.png", alt: "GuruStroy")
      .col-md-9
        = render 'search'
    .row
      .col-md-12
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#mainnav")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #mainnav.collapse.navbar-collapse
          = render 'nav'

          = render 'usermenu'

- unless flash.empty?
  .page-messages.container-fluid
    .row
      .col-md-6.col-md-offset-6
        = messages
