%ul.nav.navbar-nav
  %li= link_to 'Главная', root_path
  - if current_user
    - if current_user.admin?
      -# %li= link_to 'Главная', admin_root_path
      %li= link_to 'Пользователи', admin_users_path
      %li= link_to 'Магазины', admin_store_profiles_path
      %li= link_to 'Производители', admin_manufacturers_path
      %li= link_to 'Категории товаров', admin_categories_path
      %li= link_to 'Товары', admin_products_path
      %li= link_to 'Категории услуг', admin_service_categories_path
      %li= link_to 'Услуги', admin_services_path
      %li= link_to 'Новости', admin_posts_path
      %li= link_to 'Статьи', admin_articles_path

    - elsif current_user.seller?
      %li= link_to 'Товары', admin_products_path
      %li= link_to 'Услуги', admin_services_path

  - else
    %li
      %a(href="#{root_path}#/categories")
        Каталог товаров
    %li
      %a(href="#{root_path}#/stores")
        Магазины
    %li
      %a(href="#{root_path}#/service_categories")
        Услуги

    - Article.roots.map do |a|
      %li
        %a(href="#{root_path}#/articles/#{a.slug}")
          = a.menu_title
