%ul.nav.navbar-nav.navbar-right.usermenu
  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle(href data-toggle="dropdown")
        / %span.usermenu-picture
        /   = image_tag(current_user.picture.mini, class: 'user-picture-small')
        %span.usermenu-username
          = current_user.name
        %b.caret

      %ul.dropdown-menu.usermenu-dropdown
        %li= link_to 'Профиль', admin_user_path(current_user)

        - if current_user.admin?
          %li= link_to 'Администрирование', admin_root_path

        - if current_user.seller?
          %li= link_to 'Товары', admin_products_path

        %li.divider

        %li= link_to t('usermenu.signout'), destroy_user_session_path, data: { method: :delete }

  - else
    %li
      = link_to t('usermenu.signin'), new_user_session_path
