= simple_form_for(@product) do |f|
  = f.error_notification

  .form-inputs
    = cover_uploader f
    = f.input :title
    = f.input :intro
    = f.input :body
    = f.association :category, input_html: {object_id: f.object._id}

    .custom_attributes
      = render partial: 'custom_category_fields', locals: {category: @product.category, object: @product}

    .manufacturer_field
      = render partial: 'manufacturer_field', locals: {category: @product.category, object: @product}

  .form-actions
    = f.button :submit
