%h1 Listing products

.panel.panel-default
  .panel-body
    %form
      .input-group
        %input.form-control{ type: :text, name: :query, placeholder: t('catalog.search_hint'), value: params[:query] }

        .input-group-btn
          %button.btn.btn-primary= t('search')

%table.table.table-striped
  %tr
    %th Title
    %th Cover
    %th Body
    %th Category
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.title
      %td= image_tag(product.cover.thumb, class: 'img-thumbnail') if product.cover.present?
      %td= product.body
      %td= product.category.title
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path, class: 'btn btn-info'
