!!!
%html{ lang: I18n.locale }
  %head
    = render 'meta'

    = stylesheet_link_tag :application
    = csrf_meta_tags

    = yield :head
    = javascript_include_tag :application
  %body

    .page-wrapper
      = render 'header'
      .container-fluid.page-container
        .row
          .col-md-8.page-content-column
            = yield
          .col-md-4.page-sidebar
            = yield :sidebar

      = render 'footer'

    -# = javascript_env
    = yield :body
    -# = render 'analytics'
